<form class="{{cssClass}}" autocomplete="off">
    {{> systems/dcc/templates/item-partial-header.html }}

    <section class="sheet-body item">
          {{!-- // Lucky --}}
          <div class="resource flex1"> 
            <input type="checkbox" name="system.equipped" data-dtype="Boolean" {{checked system.equipped}}/>
            <label class="resource-label" for="system.equipped">{{localize "DCC.ItemPropertiesEquipped"}}</label>
          </div>
        {{!-- <div class="value-row">
          Left an empty div or CSS broken
        </div> --}}
        <div class="description">
          {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=true}}
        </div>
    </section>
</form>
